/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url(https://fonts.googleapis.com/css?family=Roboto:400,100,700);
 * {
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
 }
body {
	background-color: #333;
	color: #00aba9;
	font-family: 'Roboto', sans-serif;
}
.header{
	/*background: #1A504E;*/
	background: url('/assets/phone-guy.jpg');
	background-size: cover;
	background-position: 0% 60%; 
	height: 200px;
	margin-bottom: 50px;
	color: #fff;
	border-bottom: 12px solid #223432; 
	padding: 60px  80px 10px;
	

}
.new-container{
	box-sizing: border-box;
	width: auto;;
}
.textHead {
	font-size: 44px;
	font-weight: 100;
}
.container {
	width: 85%;
	margin: auto;
	padding: 10px;
}
.right_side {
	width: 35%;
}
.left_side {
	width: 65%;
}
.right-side, .left-side {
	float: left;
}
.touch-box, .contact-box {
	word-wrap: break-word;
	height: 200px; 
	border-top: 20px solid  #1A504E;
	margin-top: 20px;
	margin-bottom: 10px;
	background: url('/assets/sci_fi_hexagon.jpg');
	}

.touch-box {
	width: 100%;
	margin-left: 50px;
}

.largeIn{
	height: 30px;
	width: 200px;
	margin-right: 15px;
}
button{
	height: 34px;
	border: none;
	background: #DD7500;
	width: 150px;
	color: #fff;
	font-size: 14px;
	font-weight: 100;
}
.little-btn, .little-btn-edit {
	width: 65px;
	height: 27px;
	border-radius: 15px;
	margin: 5px 5px;
}
.little-btn-edit {
	display: block;
}
.contact-box p, .contact-box h3{ 
padding: 8px;
}
.touch-box h3{ 
padding: 7px;
}
.smallIn1,.smallIn2,.smallIn3, .smallIn4 {
	width: 110px;
	height: 25px;
}
.inABlock{
	display: block;;
	margin: 7px;
}
.smallIn1 { margin-left: 80px;}
.smallIn2 {	margin-left: 62px;}
.smallIn3 { margin-left: 80px;}
.smallIn4 { margin-left: 5px;}

@media only screen and (max-width: 925px) {
	.largeIn {
		margin-top: 10px;
	}
	button {
		width: 423px;
	}
}
@media only screen and (max-width: 1207px) {
	button {
		margin-top: 10px;
		width: 203px;
	}
}

@media only screen and (max-width: 575px) {
    .container {
    	width: 100%;
    }
    .header{
				margin-bottom: 0;
			}
    .touch-box {
    	margin-left: 30px;
    }
    .largeIn {
    	width: 225px;
    	margin-top: 10px;
    }
    button {
    	width: 472px;
    }
}
@media only screen and (max-width: 580px) {
    .right_side {
	     width: 50%;
    }

		.left-side {
			width: 275px;
		}
    .touch-box {
    	margin-left: 10px;
    }
    .contact-box {
			width: 100%;
			margin-right: 0;
			}
    button {
    	margin-top: 10px;
    	
    }
}
@media only screen and (max-width: 490px) {
			.header{
			padding-top: 10px;
			text-align: center;
			}
	    .largeIn {
	    	width: 190px;
	    }
	    button {
	    	width: 402px;
	    }
	    .right_side {
	     width: 40%;
    }
		.left-side {
			width: 225px;
		}
    .touch-box {
    	margin-left: 5px;
    }
	 .smallIn1,.smallIn2,.smallIn3, .smallIn4 {
			width: 35px;
			height: 25px;
		}
			
	}
@media only screen and (max-width: 417px) {
	.largeIn {
	    	width: 373px;
	    }
	    button {
	    	width: 377px;
	    }
	    .right_side {
	     width: 40%;
    }
		.left-side {
			width: 190px;
		}
    .touch-box {
    	margin-left: 5px;
    }
	 
}
@media only screen and (max-width: 395px) {
	.largeIn {
	    	width: 100%;
	    	margin-right: 0px;
	    	padding-right: 0px;

	    }
	    
	    .textHead {
	    	margin-left: 20px;
	    	font-size: 28px;
	    }
	    button {
	    	width: 100%;
	    }
	    .right-side{
	    
	    width: 40%;
	    word-wrap: break-word;
    }
		.left-side {
			width: 58%;
			margin-right: 4px;
		}
    .touch-box {
    	margin-top: 8px;
    	margin-left: 0px;
    	width: 100%;
    	margin-bottom: 4px;
    }
    .contact-box {
    	margin: 0;
    	width: 100%;
    	margin-top: 8px;
    	margin-bottom: 5px;
    }
    .container {
    	margin: 0;
    	padding: 0;
    	margin-bottom: 4px;
    	width: 100%;
    }
    
}

