/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url(https://fonts.googleapis.com/css?family=Roboto:400,100,700);
 * {
 	margin: 0;
 	padding: 0;
 }
body {
	background-color: #333;
	color: #00aba9;
	font-family: 'Roboto', sans-serif;
}
.header{
	/*background: #1A504E;*/
	background: url('/assets/phone-guy.jpg');
	background-size: cover;
	background-position: 0% 60%; 
	height: 150px;
	margin-bottom: 50px;
	color: #fff;
	border-bottom: 12px solid #223432; 
	padding: 60px  80px 10px;

}
.textHead {
	font-size: 44px;
	font-weight: 100;
}
.container {
	width: 85%;
	margin: auto;
	padding: 10px;
}
.right_side {
	width: 35%;
}
.left_side {
	width: 65%;
}
.right-side, .left-side {
	float: left;
}
.touch-box, .contact-box {
	height: 200px; 
	border-top: 20px solid  #1A504E;
	margin-top: 20px;
	margin-bottom: 10px;
	background: url('/assets/sci_fi_hexagon.jpg');
	}

.touch-box {
	width: 100%;
	margin-left: 50px;
}
input[type="text"] {
	height: 30px;
	width: 200px;
	margin-right: 15px;
}
button{
	height: 30px;
	border: none;
	background: #DD7500;
	width: 150px;
	color: #fff;
}
.little-btn {
	width: 65px;
	border-radius: 15px;
	margin: 5px 5px;
}
.contact-box p, .contact-box h3{ 
padding: 8px;
}
.touch-box h3{ 
padding: 7px;
}
